{% extends "base.html" %}
{% block title %}Crear Cuenta{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <h3 class="text-center mb-4 fw-bold">Nueva Cuenta</h3>
                <form method="POST">
                    <div class="mb-3">
                        <label class="form-label">Nombre de Usuario</label>
                        <input type="text" name="username" class="form-control" placeholder="Crea un usuario" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Contraseña</label>
                        <input type="password" name="password" class="form-control" placeholder="Crea una contraseña" required>
                    </div>
                    <button type="submit" class="btn btn-success btn-modern w-100">Registrarme</button>
                </form>
                <div class="mt-4 text-center">
                    <small class="text-muted">¿Ya tienes cuenta? <a href="/login" class="text-decoration-none">Inicia sesión</a></small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}